  <div id="footer">
    <div id="footer-in">
      <p>Copyright 2010-<%= Date.today.year %> &mdash; bspoke
        <span style="float:right">Follow us on Twitter at <a href="http://twitter.com/itsbspoke">@itsbspoke</a>.</span></p>
    </div>
  </div>
