  <div id="header">
    <div id="header-in" class="clear">
      <div class="logo"><a href="index.html">bspoke</a></div>
      <div class="nav">We provide consulting &amp; development services for ideas that can change the world. Read more <a href="about.html">about us</a>, look at some of <a href="portfolio.html">our projects</a> or feel free to <a href="#" class="contact">contact us</a>.</div>
    </div>
  </div>
