  <div id="subheader">
    <div id="subheader-in" class="clear">
      <h1>For a website that fits<br />you perfectly&hellip; it<span>’</span>s bspoke.</h2>
      <img src="images/mannequin.png" alt="Mannequin" class="mannequin" />
    </div>
  </div>
