      <div class="about left" style="width:48%;">
        <h2>About us</h2>
        <p>When searching for a technical resource to make your vision into reality, it can be easy to make a decision that harms your business in ways that you don&rsquo;t understand.</p>
        <p>We&rsquo;ve been there before. We find the heavy-lifting compelling and you can be certain that we&rsquo;ll provide exactly the right kind of support you&rsquo;ll need while launching your application, without the unsatisfying after effects of aloof contractors or poor workmanship.</p>
        <p>We will bring you through the muck and keep you looking your best.</p>
        <p>Just <a href="#" class="contact">contact us</a>, we&rsquo;d love to talk. </p>
      </div>
      <div class="services right" style="width:49%;">
        <h2>Our services</h2>
        <ul>
          <li>
            <h3>Development:</h3>
            <p>From discussions about product direction and architecture to the finest details of development and hosting, bspoke delivers the highest quality product on time and on budget.</p>
          </li>
          <li>
            <h3>Maintenance:</h3>
            <p>Sometimes you just need alterations, or to ensure that your site stays in fashion by avoiding outages and bugs. bspoke offers services to both help launch a site and maintain it afterward.</p>
          </li>
          <li>
            <h3>Support:</h3>
            <p>Development budgets don&rsquo;t always allow for bspoke. We can still help. If you need help finding a new developer, evaluating a current one or anything in between, just contact us and we'll do our best to help.</p>
          </li>
        </ul>
      </div>
 
